body {
    margin: 0;
    padding-top: 70px;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #161616;
    color: #414141;
}

h1{
    color: hsl(0, 0%, 100%);
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
}

h2{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

h3{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 20px;
    color: #e6dada;
}

.desc{
    font-size: 20px;
    color: #ffffff;
}

ul{
    font-size: 20px;
    color: #ffffff;
}

.imagens {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}


button{
    background-color: #9b59b6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 14px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover{
    background-color: #c77dff;
    transform: scale(1.05);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar-logo {
    color: #9701bd;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu-lateral {
    display: flex;
    gap: 25px;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-lateral a:hover {
    color: #9701bd;
}



@media (max-width: 768px) {
    .navbar-logo {
        font-size: 10px;
    }
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 0px;
}

.navbar-links a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.navbar-links a:hover{
    color: #000000;
}

.navbar-links a.ativo{
    border-bottom: 12px solid #000000;
}


a:link {
  color: #d091ee;
}

.lista-filme{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 30px;
}

.card-filme{
    width: 280px;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 15px;
}

.card-filme:hover{
    transform: scale(1.05);
}

.card-filme img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card-filme h2{
    color: white;
    margin: 15px 0;
}

.card-filme p{
    color: white;
    padding: 0 15px;
    font-size: 14px;
}

.lista-series{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 30px;
}

.card-series{
    width: 280px;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.card-series:hover{
    transform: scale(1.05);
}

.card-series img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 8px;
}

.card-series h2{
    color: white;
}

.card-series p{
    color: white;
    text-align: justify;
    font-size: 14px;
}


#rodape {
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    background-color: hwb(295 30% 34%);
}

#rodape a{
    color: #ffffff;
    text-decoration: none;
}

#rodape a:hover{
    text-decoration: underline;
}